.skills {
    padding-top: 126px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, auto));
        grid-template-rows: repeat(2, minmax(270px, auto)) ;
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            transform: translateX(-50%);
            left: 50%;
        }
    }
    &__subtitle {
        text-align: center;
        margin-top: 6px;
    }
    &__window {
        padding: 30px 29px 25px 30px;
        border: 1px solid #000000;
        &-title {
            margin-top: 20px;
            &-jmt {
                margin-top: 43px;
            }
            &-mmt {
                margin-top: 39px;
            }

        }
        &-descr {
            margin-top: 15px;
        }
    }
}